@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik',sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: left;
    min-height: 10vh;
    display: flex;
    justify-content: left;
    align-self: left;
    background: white;
}
.container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
    grid-template-rows:minmax(100px, auto);
    margin: 40px;
    grid-auto-flow: dense;
    grid-gap:10px;
}
.box{        
    background: rgb(209, 37, 37); /*FICA DE OLHO AQUI*/
    padding: 20px;
    font-size: 20px;
    color: #fff;
    transition: 0.5s;
}
.box:hover{
    background: red;
    color: black;
}
.box img{
    position: relative;
    max-width: 100px;
    margin-bottom: 10px;
}
.container .box :nth-child(1){
    grid-column: span 1;
    grid-row: span 2;
}
img{
    text-align: center;
    width: 290px;
}
#posi{
    text-align: left;
}
h2{
    color: red;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}